.layout-navbar {
  .flex(@row: flex-end);

  &__userInfo {
    .username {
      margin-left: 10px;

      cursor: pointer;

      color: #313b66;

      font-size: 16px;
      font-weight: 500;
      line-height: 14px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }
}
